* {
    box-sizing: border-box;
}

body {
    color: #252525;
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
}

input[type="text"], input[type="url"], textarea {
    width: 100%;
    display: block;
    border: 1px solid #cccccc;
    padding: 5px;
}
textarea {
    min-height: 75px;
}

.form__group {
    margin-bottom: 20px;
}



.rating {
    border-left: 1px solid #cccccc;
    padding: 5px;
}
.rating--bad {
    color: red;
    border-left-color: red;
}
.rating--ok {
    color: orange;
    border-right-color: orange;
}
.rating--good {
    color: green;
    border-left-color: green;
}
